:root.theme-light {
  --background-image: url(../images/cover-image-light.png);
  --display-decor: none;
  --page-bg-color: #fdf2f7;
  --title-color: #ffc2e6;
  --accent-color: #ff8dcb;
  --button-color: #353430;
  --button-opaque: #35343066;
  --decor-color: #353430;
  --section-title-color: #353430;
  --section-subtitle-color: #353430;
  --main-text-color: #353430;
  --title-shadow: #ff8dcb;
  --footer-title-shadow: var(--title-shadow);
}

@media (width >= 1024px) {
  :root.theme-light {
    --footer-title-shadow: #ff0070;
  }
} 

@media (prefers-color-scheme: light) {
  :root {
    --background-image: url(../images/cover-image-light.png);
    --display-decor: none;
    --page-bg-color: #fdf2f7;
    --title-color: #ffc2e6;
    --accent-color: #ff8dcb;
    --button-color: #353430;
    --button-opaque: #35343066;
    --decor-color: #353430;
    --section-title-color: #353430;
    --section-subtitle-color: #353430;
    --main-text-color: #353430;
    --title-shadow: #ff8dcb;
  }
}

@media (width >= 1024px) {
  :root {
    --footer-title-shadow: #ff0070;
  }
}